# Exclude data files
*.npy
*.dat
*.zip
*.mcs
*.bit
*.bin
*.ipynb
# ...but track curated, output-free template/reference notebooks:
!software/jupyter/operations_template.ipynb
*.yml
.ipynb_checkpoints/
images/
**/ip/**
!**/ip/**/
!*.xci
*.html
*.*~
build*
!firmware/targets/build_release.sh
__pycache__/

.ipynb_checkpoints/

# Directories with YYYYMMDD format
[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*_raw.txt
.vscode/
.claude/
\#*\#
firmware/python/warm_tdm/_Sq1BiasDriverAwaXe.py
software/python/warm_tdm_api/_GroupConfigs.py
software/python/warm_tdm_api/wam_tdm_gui_sav.ui
software/scripts/AdcCapture.py
software/scripts/packetizer_test.py
software/scripts/warmTdmClientMuxTest.py
firmware/python/warm_tdm/_AwaXeSq1BiasDriver.py
firmware/targets/RowFpgaBoard160/sim/RowFpgaBoardTb.vhd
.planning/
